header {
    background-color: #0c5460;
    height: 80px;
}
section {
    background-color: #00aa88;
    height: 800px;
}
section:nth-child(2) {
    background-color: #00ccff;
    height: 800px;
}
footer {
    background-color: #4f9fcf;
    height: 200px;
}